body {
    background-color: #523D2E;
}

form {
    color: whitesmoke;
    display: grid;
    vertical-align: baseline;
    background-color: #B4A186;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1rem;
    margin: 0rem 0rem 0rem 0rem;
    padding: 2rem 2rem 2rem 2rem;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

p {
    color: #ffffff;
    font-size: x-large;
    padding: 0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

.wrapper > * {
    padding: 2rem;
    flex: 1 100%;
}

.header {
    color: black;
    padding: 16rem 2rem 0rem 0rem;
    font-size: xxx-large;
}

.bg-header {
    /* Photo by cottonbro from Pexels */
    background-image: url(../images/bg.jpeg);
}

.bg-right {
    background-image: url(../images/searching.jpeg);
}

.buttons {
    display: flex;
}

.info {
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: large;
    margin: 0rem 0rem 0rem 0rem;
}

.footer {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
    background: #523D2E; 
    font-size: medium;
}

.main {
    padding: 0rem 1rem 0rem 0rem; 
    text-align: -webkit-center;
    background: #8F9097; 
    line-height: 2.25rem;
}

.aside-1 {
    background: #8F9097;
    margin: inherit;
    padding: 0rem 0rem 0rem 0rem;
}

.aside-2 {
    background: #8F9097;
    align-content: center;
}

.modal-color {
    background-color: #8F9097;
}

/* .links {
    padding: 1rem 1rem 1rem 1rem;
} */

.top-button {
    padding: 1rem 1rem 1rem 1rem;
}

@media all and (min-width: 600px) {
    .aside { 
        flex: 1 1 1; 
    }
    .header {
        color: black;
        display: contents;
        font-size: x-large;
    }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}


#bg-peek {
    height: 45rem;
    width: initial;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
    -moz-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
    box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

#bg-thinking {
    height: 40rem;
    width: initial;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

#table-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
    margin: 1rem 1rem 1rem 1rem;
    color: whitesmoke;
}

#header-temp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
    margin: 1rem 1rem 1rem 1rem;
    color:  whitesmoke;
}

#footer-paragraph {
    text-align: left;
    font-size: medium;
}